@font-face {
    font-family: 'windows'; 
    src: url('media/fonts/Windows-Command-Prompt.woff2') format('woff2');
}

body {
    font-family: 'windows';
    font-size: x-large;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    font-family: 'windows';
    font-size: xx-large;
}

h2{
    font-family: 'windows';
    font-size: xx-large;
}

/* Encabezado */
header {
    background-color: #121B3B;
    color: white;
    text-align: center;
    padding: 20px 0;
}

li{
    list-style: none;
}

.home-button{
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('media/icons/home.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    text-decoration: none; 
    filter: sepia(100%) hue-rotate(90deg) saturate(300%); 
}

.cont_home{
    display: flex;
    justify-content: center;
}

.links_social a {
    text-decoration: none; 
    color: inherit; 
    cursor: default;
    margin: 5px 0;

}

.links_social a:hover {
    color: gray; /* Cambia a gris al pasar el mouse */
}