@font-face {
    font-family: 'windows'; 
    src: url('media/fonts/Windows-Command-Prompt.woff2') format('woff2');
}

body {
    font-family: 'windows';
    font-size: x-large;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    font-family: 'windows';
    font-size: xx-large;
}

h2{
    font-family: 'windows';
    font-size: xx-large;
}

/* Encabezado */
header {
    background-color: #121B3B;
    color: white;
    text-align: center;
    padding: 20px 0;
}

li{
    list-style: none;
}

.home-button{
    display: block;
    width: 120px;
    height: 120px;
    background-image: url('media/icons/home.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    text-decoration: none; 
    filter: sepia(100%) hue-rotate(90deg) saturate(300%); 
    animation: float 3s ease-in-out infinite;

}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

.cont_home{
    display: flex;
    justify-content: center;
}

.links_social{
    display: block;
    gap: 20px;
    text-align: center;
}

.links_social a {
    text-decoration: none; 
    color: inherit; 
    cursor: default;
    margin: 5px 0;
}

.links_menu a {
    text-decoration: none; 
    color: inherit; 
    cursor: default;
    margin: 5px 0;
}

.links_social a:hover {
    color: gray; 
}

.links_menu a:hover {
    color: royalblue;
}

.tech_list{
    text-align: left;
    margin: 15px;
}

.tech_list img{

    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin: 20px;

}

.gallery img{
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.about img{
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.about p{
    text-align: justify;
    margin: 50px;
}
